{{!-- Create Loop fo load data  --}}

{{# each products}}
    Product!
{{/each}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, recusandae debitis tenetur id repellendus excepturi enim, quam temporibus repudiandae nobis illo eius? Numquam nesciunt perspiciatis, quos necessitatibus beatae dolor ad?
    </p>
    <div id="price" class=" price">
        $15
    </div>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>